body{
    margin: 0;
}
.header{
    background: black;
}

.headerTop{
    overflow: hidden;
    background:#ff6600 ;
}
.text{
  width: 50%;
  float: left;
  display: block;
}
.socialIcon{
    display: block;
    width: 50%;
    float: right;
}


.fab {
    padding: 5px;
    font-size: 18px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
  }
  
  .fab:hover {
      opacity: 0.7;
  }
  
  .fa-facebook-f {
   
    color: white;
  }
  
  .fa-twitter {
   
    color: white;
  }
  .fa-pinterest-p {
    
    color: white;
  }
  .fa-linkedin-in {
    
    color: white;
  }
 
 .text1 p{
    display: inline;
    color: #ffffff;
    padding: 18px;
 }
 .links{
     overflow: hidden;
     background: #0d91a8;
     width: 40%;
     float: right;
     display: inline;
 }
 .headerBottom{
    overflow: hidden;
}
 .links a{
    float: left;
    color:  #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
 }
 .links a:hover {
    
    color: #ff6600;
  }
  .links input[type=text] {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
  }
  
  .text1{
    width: 70%;
  }
  .button{
    width: 25%;
  }
 .logo{
   width: 10%;
 }
 .menubar{
  width: 85%;
 }
 .input{
   width: 15%;
 }