.header {
    background: black;
}


/* .navbar-brand a {} */

.navbar-brand {
    background-color: #e96e00;
    width: 13.06%;
    padding-top: 22px;
    padding-bottom: 22px;
    padding-left: 10px;
    margin-top: 0;
}

.navbar {
    width: 1133px;
}

.collapse {
    width: 86.94%;
    margin-top: 0px;
}

.navabar-nav {
    width: 65.57%;
}

.form-inline {
    width: 14%;
}

.navbar-dark .navbar-toggler {
    color: rgb(233, 110, 0, .5);
    border-color: rgb(233, 110, 0, .1)
}

.navbar-toggler {
    background-color: #e96e00;
    border: 1px solid #e96e00;
}

.form-control {
    border: none;
}


/* .navbar {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
} */

.headerTop {
    overflow: hidden;
    background: #ff6600;
}

.text {
    width: 50%;
    float: left;
    display: block;
}

.socialIcon {
    display: block;
    width: 50%;
    float: right;
}

.fab {
    padding: 5px;
    font-size: 18px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 0px 0px;
}

.fab:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    color: white;
}

.fa-twitter {
    color: white;
}

.fa-pinterest-p {
    color: white;
}

.fa-linkedin-in {
    color: white;
}

.text1 p {
    display: inline;
    color: #ffffff;
    padding: 18px;
}

.headerMid {
    margin-bottom: 0;
}